body {
    font-family: 'Smythe', cursive;
    max-width: 800px;
    margin: auto;
}

header {
    
    background: url(images/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-inner {
    padding: 10px;
    width: 60%;
    color:white;
    margin-left: 20px;
}
h1 {
    font-weight: 400;
    font-size: 39px;
    line-height: 29px;
}
h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 15px;
}

.menu {
    padding: 10px;

}
ul {
    position: relative;
}

il {
   display: block;
}

button {
    position: absolute;
    top: 0;
    right: 0;

}
