body {
    font-family: 'Smythe', cursive;
    max-width: 800px;
    margin: auto;
}

/* HEADER */
header {
    
    background: url(images/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-inner {
    padding: 10px;
    width: 60%;
    color:white;
    margin-left: 20px;
}
.header-inner h1 {
    font-weight: 400;
    font-size: 39px;
    line-height: 29px;
}
.header-inner h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 15px;
}

/* MAIN SECTION */
.menu {
    padding: 10px;
}

ul {
    position: relative;
    padding-left: 150px;
    padding-right: 80px;
}
.menu-item li {
   display: block;   
}
.emoji {
    position: absolute;
    left: 30px;
    font-size: 78px;
}
.food {
    font-size: 28px;
    line-height: 25px;
    padding-top: 15px;
}
.ingredients {
    font-size: 16px;
    line-height: 20px;
    padding-right: 80px;
}
.price {
    font-size: 20px;
    line-height: 40px;
}
.solid {
    position: absolute;
    left: 40px;
    border: 1px solid #D2D2D2;
}

.increase {
    position: absolute;
    top: 35px;
    right: 30px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}

/* CHECKOUT */
.checkout {
    display: block; /* when click to tha + display block */
    position: relative;
    text-align: center;
    margin: 60px;
}
.checkout h1, .checkout h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 20px;
}
.checkout h2 {
    text-align: left;
    margin-left: 5px;
    line-height: 50px;
    padding-top: 40px;
}
.checkout-list {   
    display: flex;
    flex-flow: wrap; 
    justify-content: space-between;
    list-style: none;
    margin-left: 5px;
    line-height: 25px;
    font-size: 28px;
}
.checkout-price {
    font-size: 22px;
}
.line-break {
    width: 100%; /* új sorba kerül az új tétel amit beleteszünk a kosárba */
}

.purchase-btn {
    border: none;
    background: #16DB99;
    border-radius: 3px;
    padding: 20px 30px;
    width: 100%;
    color: white;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.remove-item-btn {
    border: none;
    background-color: white;
    color: #BBBBBB;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
